---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.redisOperator.name }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "redisOperator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels: {{- include "redisOperator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Values.certificate.name }}
      {{- with .Values.redisOperator.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels: {{- include "redisOperator.selectorLabels" . | nindent 8 }}
      {{- with .Values.redisOperator.podLabels }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      automountServiceAccountToken: {{ .Values.redisOperator.automountServiceAccountToken }}
      {{- if .Values.redisOperator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.redisOperator.imagePullSecrets | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: "{{ .Values.redisOperator.name }}"
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        image: "{{ .Values.redisOperator.imageName }}:{{ .Values.redisOperator.imageTag | default (printf "v%s" .Chart.AppVersion) }}"
        imagePullPolicy: {{ .Values.redisOperator.imagePullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: probe
        readinessProbe:
          httpGet:
            path: /readyz
            port: probe
        command:
        - /operator
        - manager
        args:
        - --leader-elect
        {{- if .Values.redisOperator.pprof.enabled }}
        - --pprof-bind-address={{ .Values.redisOperator.pprof.bindAddress }}
        {{- end }}
        {{- if .Values.redisOperator.metrics.enabled }}
        - --metrics-bind-address={{ .Values.redisOperator.metrics.bindAddress }}
        {{- end }}
        {{- if .Values.manager.config.kubeClientTimeout }}
        - --kube-client-timeout={{ .Values.manager.config.kubeClientTimeout }}
        {{- end }}
        {{- if and .Values.manager.config.kubeClientQPS (gt (.Values.manager.config.kubeClientQPS | float64) 0.0) }}
        - --kube-client-qps={{ .Values.manager.config.kubeClientQPS }}
        {{- end }}
        {{- range $arg := .Values.redisOperator.extraArgs }}
        - {{ $arg }}
        {{- end }}
        ports:
        - containerPort: 8081
          name: probe
          protocol: TCP
      {{- if .Values.redisOperator.metrics.enabled }}
        - containerPort: {{ .Values.redisOperator.metrics.bindAddress | regexFind ":[0-9]+" | trimPrefix ":" }}
          name: metrics
          protocol: TCP
      {{- end }}
      {{- if .Values.redisOperator.pprof.enabled }}
        - containerPort: {{ .Values.redisOperator.pprof.bindAddress | regexFind ":[0-9]+" | trimPrefix ":" }}
          name: pprof
          protocol: TCP
      {{- end }}
      {{- if .Values.redisOperator.webhook }}
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
      {{- end }}
        env:
        - name: OPERATOR_IMAGE
          value: {{ .Values.redisOperator.imageName }}:{{ .Values.redisOperator.imageTag | default (printf "v%s" .Chart.AppVersion) }}
        - name: ENABLE_WEBHOOKS
          value: {{ .Values.redisOperator.webhook | quote }}
        {{- if .Values.redisOperator.watchNamespace }}
        - name: WATCH_NAMESPACE
          value: {{ .Values.redisOperator.watchNamespace | quote }}
        {{- end }}
        {{- if .Values.redisOperator.serviceDNSDomain }}
        - name: SERVICE_DNS_DOMAIN
          value: {{ .Values.redisOperator.serviceDNSDomain | quote }}
        {{- end }}
        {{- range $env := .Values.redisOperator.env }}
        - name: {{ $env.name }}
          value: {{ $env.value | quote }}
        {{- end }}
        {{- if .Values.featureGates }}
        - name: FEATURE_GATES
          value: "{{- $first := true -}}
          {{- range $feature, $enabled := .Values.featureGates -}}
          {{- if not $first -}},{{- end -}}
          {{- $first = false -}}
          {{- $feature }}={{ $enabled -}}
          {{- end -}}"
        {{- end }}
      {{- if .Values.resources }}
        resources: {{ toYaml .Values.resources | nindent 10 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName}}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: "{{ .Values.serviceAccountName }}"
      serviceAccount: "{{ .Values.serviceAccountName }}"
      {{- if .Values.redisOperator.webhook }}
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: {{ .Values.certificate.secretName }}
      {{- end }}
