<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-book"> {{ site.title }}</span>
        {% if site.addons_branch %}v: {{ branch }}{% endif %}
        <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
        {%- assign items = site.addons | default: addons -%}
        {% for item in items -%}
            {% include addons/source/{{ item }}.liquid %}
        {% endfor -%}
        <hr>
        <small>
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
                using the
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
