---
redisCluster:
  name: ""
  # -- Default number of replicas for both leader and follower when not explicitly set
  clusterSize: 3
  clusterVersion: v7
  persistenceEnabled: true
  image: quay.io/opstree/redis
  tag: v7.0.15
  imagePullPolicy: IfNotPresent
  imagePullSecrets: {}
    # - name:  Secret with Registry credentials
  redisSecret:
    secretName: ""
    secretKey: ""
  resources: {}
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
  minReadySeconds: 0
  # -- Some fields of statefulset are immutable, such as volumeClaimTemplates.
  #    When set to true, the operator will delete the statefulset and recreate it. 
  #    Default is false.
  recreateStatefulSetOnUpdateInvalid: false
  # -- MaxMemoryPercentOfLimit is the percentage of redis container memory limit to be used as maxmemory. 
  #    Default is 0 (disabled).
  maxMemoryPercentOfLimit: 0
  # -- Enable pod anti-affinity between leader and follower pods by adding the appropriate label.
  #    Notice that this requires the operator to have its mutating webhook enabled,
  #    otherwise it will only add an annotation to the RedisCluster CR. 
  #    Default is false.
  enableMasterSlaveAntiAffinity: false
  leader:
    # -- Number of Redis leader (master) nodes. If not set, uses clusterSize value
    replicas: 3
    serviceType: ClusterIP
    affinity: {}
      # nodeAffinity:
      #   requiredDuringSchedulingIgnoredDuringExecution:
      #     nodeSelectorTerms:
      #     - matchExpressions:
      #       - key: disktype
      #         operator: In
      #         values:
      #         - ssd
    tolerations: []
      # - key: "key"
      #   operator: "Equal"
      #   value: "value"
      #   effect: "NoSchedule"
    nodeSelector: null
      # memory: medium
    securityContext: {}
    pdb:
      enabled: false
      maxUnavailable: 1
      minAvailable: 1
    livenessProbe: {}
      # timeoutSeconds: 30
      # periodSeconds: 45
      # successThreshold: 1
      # failureThreshold: 4
      # initialDelaySeconds: 15
    readinessProbe: {}
      # timeoutSeconds: 30
      # periodSeconds: 45
      # successThreshold: 1
      # failureThreshold: 4
      # initialDelaySeconds: 15
    
  follower:
    # -- Number of Redis follower (slave) nodes. If not set, uses clusterSize value
    replicas: 3
    serviceType: ClusterIP
    affinity: null
      # nodeAffinity:
      #   requiredDuringSchedulingIgnoredDuringExecution:
      #     nodeSelectorTerms:
      #     - matchExpressions:
      #       - key: disktype
      #         operator: In
      #         values:
      #         - ssd
    tolerations: []
      # - key: "key"
      #   operator: "Equal"
      #   value: "value"
      #   effect: "NoSchedule"
    nodeSelector: null
      # memory: medium
    securityContext: {}
    pdb:
      enabled: false
      maxUnavailable: 1
      minAvailable: 1
    livenessProbe: {}
      # timeoutSeconds: 30
      # periodSeconds: 45
      # successThreshold: 1
      # failureThreshold: 4
      # initialDelaySeconds: 15
    readinessProbe: {}
      # timeoutSeconds: 30
      # periodSeconds: 45
      # successThreshold: 1
      # failureThreshold: 4
      # initialDelaySeconds: 15

labels: {}
#   foo: bar
#   test: echo


externalConfig:
  enabled: false
  data: |
    tcp-keepalive 400
    slowlog-max-len 158
    stream-node-max-bytes 2048

externalService:
  enabled: false
  # annotations:
  #   foo: bar
  serviceType: LoadBalancer
  port: 6379

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
  # -- Namespace where servicemonitor resource will be created, if empty it will be created in the same namespace as the redis-cluster
  namespace: ""
  # -- extraLabels are added to the servicemonitor when enabled set to true
  extraLabels: {}
    # foo: bar
    # team: devops

redisExporter:
  enabled: false
  image: quay.io/opstree/redis-exporter
  tag: "v1.44.0"
  imagePullPolicy: IfNotPresent
  resources: {}
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
  env: []
    # - name: VAR_NAME
    #   value: "value1"
  securityContext: {}

sidecars:
  name: ""
  image: ""
  imagePullPolicy: "IfNotPresent"
  resources:
    limits:
      cpu: "100m"
      memory: "128Mi"
    requests:
      cpu: "50m"
      memory: "64Mi"
  env: {}
    # - name: MY_ENV_VAR
    #   value: "my-env-var-value"

initContainer:
  enabled: false
  image: ""
  imagePullPolicy: "IfNotPresent"
  resources: {}
    # requests:
    #   memory: "64Mi"
    #   cpu: "250m"
    # limits:
    #   memory: "128Mi"
    #   cpu: "500m"
  env: []
  command: []
  args: []

priorityClassName: ""

storageSpec:
  volumeClaimTemplate:
    spec:
      # storageClassName: standard
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
  nodeConfVolume: true
  nodeConfVolumeClaimTemplate:
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
  #   selector: {}

podSecurityContext:
  runAsUser: 1000
  fsGroup: 1000


# serviceAccountName: redis-sa

TLS:
  ca: ca.key
  cert: tls.crt
  key: tls.key
  secret:
    secretName: ""

acl:
  secret:
    secretName: ""

env: []
  # - name: VAR_NAME
  #   value: "value1"

serviceAccountName: ""
