{% if site.disqus %}
<div id="disqus_thread" class="articleComments"></div>
<script>
    (function(script) {
        script.src = "https://{{ site.disqus }}.disqus.com/embed.js";
        script.setAttribute("data-timestamp", +new Date());
        document.head.appendChild(script);
    })(document.createElement("script"));
</script>
{% endif %}