name: Verify Codegen

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  verify-codegen:
    runs-on: ubuntu-latest

    steps:
    - name: Free disk space
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: true
        swap-storage: false

    - name: Checkout code
      uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
      
    - name: Run codegen and verify no diffs
      run: |
        make verify-codegen
